/* Reset some default styles */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.navbar-brand a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline;
    margin-right: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.navbar-menu a:hover {
    color: #ddd;
}

/* Hero section styles */
.hero {
    position: relative;
    text-align: left;
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: calc(100vh - 120px);
    object-fit: cover;
}

/* Hero text styles */
.hero-text {
    position: absolute;
    background-color: transparent;
    padding: 5%;
    border-radius: 2.5%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 90%;
}

.hero-text h1 {
    font-size: 4rem;
    color: #333;
    margin-left: 2.5%;
}

/* Hero button styles */
.hero-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    margin: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #2980b9;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .left, .footer .right {
    color: #fff;
}

/* Media queries for responsive design can be added as needed */
