/* Estilos Globales */
body {
    font-family: 'Montserrat', sans-serif; /* Utiliza la fuente 'Montserrat', sans-serif para un diseño moderno y legible. */
    background: #FFFDD0; /* Fondo de color amarillo claro para un aspecto agradable y luminoso. */
    color: #333; /* Color de texto gris oscuro para una buena legibilidad sobre el fondo claro. */
    margin: 0; /* Elimina los márgenes por defecto del navegador. */
    padding: 0; /* Elimina el relleno por defecto del navegador. */
    display: flex; /* Implementa flexbox para el diseño de la página. */
    flex-direction: column; /* Organiza los elementos hijos en una columna. */
    min-height: 100vh; /* Asegura que el cuerpo de la página tenga al menos el alto de la ventana del navegador. */
}

/* Estilos de la Barra de Navegación */
.navbar {
    background-color: #333; /* Fondo negro para la barra de navegación, proporcionando un contraste fuerte. */
    color: #fff; /* Texto en color blanco para resaltar sobre el fondo oscuro. */
    padding: 0.625em 0; /* Relleno vertical para la barra de navegación. */
}

.container {
    display: flex; /* Uso de flexbox para alinear elementos dentro del contenedor. */
    justify-content: space-between; /* Espaciado uniforme entre los elementos del contenedor. */
    align-items: center; /* Centra los elementos verticalmente en el contenedor. */
    padding: 0 1em; /* Relleno horizontal en los lados del contenedor. */
}

.navbar-brand a, .navbar-menu a {
    font-size: 24px; /* Tamaño de fuente grande para el nombre de la marca y los enlaces. */
    text-decoration: none; /* Elimina el subrayado de los enlaces para un aspecto más limpio. */
    color: #fff; /* Color blanco para los enlaces, contrastando con el fondo oscuro. */
    font-weight: bold; /* Fuente en negrita para mayor énfasis. */
}

.navbar-menu {
    list-style-type: none; /* Elimina estilos de lista por defecto para una navegación limpia. */
    padding: 0; /* Elimina el relleno de la lista. */
}

.navbar-menu li {
    display: inline; /* Muestra los elementos de lista en línea para un menú horizontal. */
    padding-right: 20px; /* Espacio entre los elementos del menú. */
}

.navbar-menu a:hover {
    color: #ddd; /* Color gris claro al pasar el mouse sobre los enlaces para indicar interactividad. */
}

/* Estilos de la Sección de Contenido Principal */
.contenedores {
    display: flex; /* Flexbox para un diseño flexible de los contenedores. */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente línea si no hay espacio. */
    justify-content: center; /* Centra los contenedores horizontalmente. */
    align-items: flex-start; /* Alinea los contenedores al inicio de la sección verticalmente. */
    padding: 10px; /* Relleno alrededor de la sección para separarla de otros elementos. */
}

.contenedor {
    flex: 1 1 200px; /* Flexibilidad y base de 200px para cada contenedor. */
    display: flex; /* Flexbox para el diseño interno de cada contenedor. */
    flex-direction: column; /* Organiza los elementos hijos en columna dentro de los contenedores. */
    align-items: center; /* Centra los elementos hijos horizontalmente. */
    margin: 10px; /* Margen alrededor de cada contenedor para espaciado. */
    max-width: 300px; /* Ancho máximo de 300px para controlar el tamaño de los contenedores. */
}

.contenedor img {
    max-width: 100%; /* Las imágenes se escalan para adaptarse al ancho del contenedor. */
    height: auto; /* Altura automática para mantener la proporción de las imágenes. */
    object-fit: contain; /* Las imágenes se ajustan dentro de sus contenedores sin ser recortadas. */
}

.button-group {
    display: flex; /* Flexbox para organizar los botones dentro del grupo. */
    flex-direction: row; /* Los botones se disponen en fila. */
    justify-content: center; /* Centra los botones horizontalmente. */
    align-items: center; /* Centra los botones verticalmente. */
    margin-top: 10px; /* Margen superior para separar el grupo de botones del contenido anterior. */
}
/* Estilos de los Botones */
.prev-button, .next-button {
    background: rgba(52, 152, 219, 0.8); /* Fondo semitransparente azul para los botones. */
    color: white; /* Texto en blanco para un contraste claro con el fondo. */
    border: none; /* Sin bordes para un estilo más limpio. */
    padding: 10px 15px; /* Relleno interno para mayor área de clic y comodidad. */
    margin: 5px; /* Margen alrededor de los botones para evitar la superposición. */
    font-size: 1em; /* Tamaño de fuente estándar para los botones. */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre los botones, indicando clickeabilidad. */
}

/* Estilos del Contenedor del Botón de Descarga */
.download-button-container {
    display: flex; /* Flexbox para centrar el botón de descarga dentro de su contenedor. */
    justify-content: center; /* Centra el botón de descarga horizontalmente. */
    padding: 20px; /* Relleno alrededor del botón de descarga para separarlo de otros elementos. */
}

/* Estilos del Botón de Descarga */
.download-button {
    background: rgba(52, 152, 219, 0.8); /* Fondo semitransparente azul, igual que los otros botones. */
    color: white; /* Texto en blanco para mantener la consistencia con otros botones. */
    border: none; /* Sin bordes para un diseño limpio. */
    padding: 1rem; /* Relleno generoso para una apariencia más grande y facilidad de uso. */
    font-size: 1em; /* Tamaño de fuente estandarizado para coherencia. */
    cursor: pointer; /* Indica que el botón es clickeable. */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave para añadir profundidad y resaltar el botón. */
    margin: 0 auto; /* Margen automático para centrar el botón en su contenedor. */
    display: block; /* Hace que el botón se trate como un bloque para centrarlo fácilmente. */
    text-align: center; /* Asegura que el texto dentro del botón esté centrado. */
}

.download-button:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el mouse para indicar interactividad. */
}

/* Estilos del Pie de Página */
footer {
    background-color: #333; /* Fondo oscuro para el pie de página, igual que la barra de navegación. */
    color: #fff; /* Texto en blanco para un alto contraste con el fondo oscuro. */
    text-align: center; /* Alinea el texto al centro para una presentación uniforme. */
    padding: 20px; /* Relleno interno para separar el contenido de los bordes. */
    display: flex; /* Flexbox para organizar el contenido del pie de página. */
    justify-content: space-between; /* Distribuye el contenido uniformemente a lo largo del pie de página. */
    align-items: center; /* Alinea verticalmente los elementos del pie de página. */
    margin-top: auto; /* Empuja el pie de página hacia abajo, al final del contenido. */
}

/* Ajustes de Diseño Responsivo */
@media (max-width: 768px) {
    .contenedor {
        flex-basis: 100%; /* En pantallas pequeñas, cada contenedor ocupa el ancho completo. */
    }

    .button-group {
        flex-direction: column; /* Los botones se apilan verticalmente en pantallas más pequeñas. */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .contenedores {
        justify-content: space-around; /* Distribuye los contenedores uniformemente en pantallas medianas. */
    }

    .contenedor {
        flex-basis: calc(50% - 20px); /* Dos contenedores por fila en pantallas medianas. */
    }
}

@media (min-width: 1025px) {
    .contenedor {
        flex-basis: calc(33.333% - 20px); /* Tres contenedores por fila en pantallas grandes. */
    }
}

#canvas {
    display: none; /* Oculta el elemento canvas por defecto, útil si se activa dinámicamente con JavaScript. */
}
